<iframe #editorEl class="code-editor border border-secondary my-2 ml-2 mr-1 d-flex"
  src="https://beginor.github.io/monaco-editor/index.html"
  (load)="loadCode()">
</iframe>
<div class="tools d-flex flex-column align-items-center justify-content-center">
  <button type="button" class="btn btn-sm btn-outline-primary mb-2"
    ngbTooltip="更新地图" placement="left" (click)="updateView()">
    <i class="fa fa-fw fa-angle-double-right"></i>
  </button>
  <button type="button" class="btn btn-sm btn-outline-primary"
    ngbTooltip="更新配置" placement="left" (click)="updateScene()">
    <i class="fa fa-fw fa-angle-double-left"></i>
  </button>
</div>
<div #mapEl class="map-preview border border-secondary my-2 mr-2 ml-1">

</div>
