:host {
  width: 100%;
  height: 100%;
  display: block;

  nz-layout {
    width: 100%;
    height: 100%;

    nz-header {
      padding-left: 0;
    }

    .app-logo {
      width: 240px;
      height: 64px;
      float: left;

      a {
        padding-left: 40px;
        overflow: hidden;
        color: #ffffff;
        font-size: 18px;
        // font-family: Avenir,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        line-height: 64px;
        white-space: nowrap;
        text-decoration: none;

        img {
          height: 32px;
          margin-right: 16px;
        }

        strong {
          font-weight: 500;
        }
      }
    }

    .header-menu {
      line-height: 64px;
    }

    .sider-menu {
      height: 100%;
      border-right: 0;
      overflow-y: auto;
    }

    .inner-layout {
      padding: 0 24px 24px;
    }
  }
}
