:host {
  width: 100%;
  height: 100%;
  display: block;

  nz-layout {
    width: 100%;
    height: 100%;
  }
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px 16px 0;
  float: left;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

