<nz-layout class="app-layout">
  <nz-header>
    <div class="app-logo">
      <a routerLink="/">
        <img src="assets/logo.svg" alt="NG-ZORRO"/>
        <strong>NG-ZORRO</strong>
      </a>
    </div>
    <ul class="top-nav" nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/welcome">Welcome</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/monitor">Monitor</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/workspace">Workspace</a>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [nzWidth]="280" nzTheme="light">
      <ul nz-menu nzTheme="light" nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="用户管理">
          <ul>
            <li nz-menu-item nzSelected>option1</li>
            <li nz-menu-item>option2</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="角色管理" nzIcon="laptop">
          <ul>
            <li nz-menu-item>option5</li>
            <li nz-menu-item>option6</li>
            <li nz-menu-item>option7</li>
            <li nz-menu-item>option8</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="权限管理" nzIcon="notification">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="审计日志" nzIcon="notification">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <router-outlet></router-outlet>
    </nz-layout>
  </nz-layout>
</nz-layout>
