<nz-layout class="app-layout">
  <nz-header>
    <div class="logo">
      <a>
        <img src="assets/logo.svg" alt="NG-ZORRO"/>
        <h1>NG-ZORRO</h1>
      </a>
    </div>
    <ul class="top-nav" nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/welcome">Welcome</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/monitor">Monitor</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/workspace">Workspace</a>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="200px" nzTheme="light">
      <ul nz-menu nzTheme="light" nzMode="inline" class="sider-menu">
        <li nz-menu-item>option0</li>
        <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
          <ul>
            <li nz-menu-item nzSelected>option1</li>
            <li nz-menu-item>option2</li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="subnav 2" nzIcon="laptop">
          <ul>
            <li nz-menu-item>option5</li>
            <li nz-menu-item>option6</li>
            <li nz-menu-item>option7</li>
            <li nz-menu-item>option8</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <router-outlet></router-outlet>
    </nz-layout>
  </nz-layout>
</nz-layout>
