@import '../variables';

:host {

  .map-container {
    @include full-width-height();
    @include no-margin-padding();
    overflow: hidden;
    background-color: #000;
  }

  .app-main {
    @include full-width-height();
    @include no-margin-padding();
    overflow: hidden;

    .router-outlet-container {
      @include box-shadow(0 0 4px 0 $dark);
      position: absolute;
      left: 0;
      top: $nav-bar-height;
      bottom: 0;
      width: 360px;
      background-color: rgba($color: $gray-200, $alpha: 0.75);
      backdrop-filter: blur(8px);

      .toggler {
        @include box-shadow(2px 0 2px 0 $gray-600);
        position: absolute;
        left: 360px;
        top: 45%;
        background-color: rgba($color: $gray-200, $alpha: 0.75);
        backdrop-filter: blur(8px);
        cursor: pointer;
      }
    }
  }

}
