@import '../variables';

:host {

  .app-main {
    @include full-width-height();
    @include no-margin-padding();
    overflow: hidden;

    .map-container {
      @include full-width-height();
      @include no-margin-padding();
      overflow: hidden;
      background-color: #000;
    }

    .router-outlet-container {
      @include box-shadow(0 0 4px 0 $dark);
      position: absolute;
      left: 0;
      top: $nav-bar-height;
      bottom: 16px;
      width: 360px;
      background-color: $gray-100;

      .toggler {
        @include box-shadow(2px 0 2px 0 $gray-600);
        position: absolute;
        left: 360px;
        top: 45%;
        background-color: $gray-100;
        cursor: pointer;
      }
    }
  }

}
