<div class="container" [@state]="state">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a class="btn btn-outline-success btn-lg btn-block"
                routerLink="/map-view">
                <span class="esri-icon-maps"></span> Map View
            </a>
            <a class="btn btn-outline-success btn-lg btn-block"
                routerLink="/scene-view">
                <span class="esri-icon-globe"></span> Scene View
            </a>
        </div>
    </div>
</div>
