@import "~ng-zorro-antd/ng-zorro-antd.min.css";

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.page-nz-breadcrumb {
  margin: 16px 0;
}

.page-nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
