@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$enable-shadows: true;
$enable-rounded: true;
$enable-caret: false;

$nav-bar-height: 54px;

@mixin full-width-height() {
  width: 100%;
  height: 100%;
}

@mixin no-margin-padding() {
  margin: 0;
  padding: 0;
}
