@import "./variables";

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html {
  @include full-width-height();
  @include no-margin-padding();
  overflow: hidden;
}

body {
  @extend html;

  .app-root {
    display: block;
    @include full-width-height();
    @include no-margin-padding();
    // padding: $nav-bar-height 0 0 0;

    .loading-indicator {
      position: fixed;
      left: 50%;
      top: 50%;
      width: 200px;
      height: 48px;
      margin-left: -100px;
      margin-top: -50px;
      text-align: center;
      line-height: 48px;
    }
  }
}

.bg-dark-blur {
  @include bg-blur(rgba($dark, 0.5), 12px);
}

.bg-primary-blur {
  @include bg-blur(rgba($primary, 0.5), 12px);
}

.esri-ui-top-left {
  top: 58px !important;
}

.esri-ui-top-right {
  top: 58px !important;
}

.esri-attribution {
  @include bg-blur(rgba($white, 0.3), 12px);
}
