@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

@mixin full-width-height() {
  width: 100%;
  height: 100%;
}

@mixin no-margin-padding() {
  margin: 0;
  padding: 0;
}

@mixin drop-shadow() {
  -webkit-box-shadow: 0 0 4px 0 $dark;
  box-shadow: 0 0 4px 0 $dark;
}
