@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

$enable-shadows: true;
$enable-rounded: true;
$enable-caret: false;

@mixin full-width-height() {
  width: 100%;
  height: 100%;
}

@mixin no-margin-padding() {
  margin: 0;
  padding: 0;
}
