@import "./base";

html {
  @include full-width-height();
  @include no-margin-padding();
  overflow: hidden;
}

body {
  @extend html;

  .app-root {
    display: block;
    @include full-width-height();
    @include no-margin-padding();
    padding: 54px 0 0 0;

    .loading-indicator {
      position: fixed;
      left: 50%;
      top: 50%;
      width: 200px;
      height: 48px;
      margin-left: -100px;
      margin-top: -50px;
      text-align: center;
      line-height: 48px;
    }
  }
}
