/* esri styles */
@import url('https://js.arcgis.com/4.5/esri/css/main.css');

@mixin full-width-height() {
    width: 100%;
    height: 100%;
}

html {
    @include full-width-height();
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body {
    @extend html;
    overflow-y: auto;
    margin: 0;

    .app-root {
        //margin-top: 16px;
        display: block;
        @include full-width-height();
        padding: 54px 0 0 0;

        .loading-indicator {
            position: fixed;
            left: 50%;
            top: 50%;
            width: 200px;
            height: 48px;
            margin-left: -100px;
            margin-top: -50px;
            text-align: center;
            line-height: 48px;
        }
    }
}
