<div class="card m-2">
  <div class="list-group list-group-flush">
    <a routerLink="/scene-editor" class="list-group-item list-group-item-action">
      <svg-icon path="bi/app-indicator"></svg-icon>
      Scene editor
    </a>
    <a routerLink="/mesh-layer" class="list-group-item list-group-item-action">
      <svg-icon path="bi/app-indicator"></svg-icon>
      Integrated mesh layer
    </a>
    <a routerLink="/time-spatial" class="list-group-item list-group-item-action">
      <svg-icon path="bi/app-indicator"></svg-icon>
      Time spatial layer
    </a>
    <a routerLink="/client-feature" class="list-group-item list-group-item-action">
      <svg-icon path="bi/app-indicator"></svg-icon>
      Client Feature
    </a>
    <a routerLink="/plane" class="list-group-item list-group-item-action">
     <svg-icon path="bi/app-indicator"></svg-icon>
     Plane
    </a>
    <a routerLink="/texture" class="list-group-item list-group-item-action">
      <svg-icon path="bi/app-indicator"></svg-icon>
      Texture
    </a>
  </div>
</div>
